WorkWX_Webhook=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PCR_Device_ID=00ABCD123456ABCD123456ABCD123456
PCR_Device_Name='Huawei Meta X'
PCR_UserName=email
PCR_UserPass=password
PCR_Watch_List=1234567890000,1234567890001,1234567890002,...
